*
{
	background-color: #282923;
	padding: 0;
	margin: 0;
	white-space: pre-line;
	color: red;
}
.but
{
	height: 100px;
	width: 100px;
	padding-top: 100px;
}
.inp
{
	width: 800px;
	height: 30px;
}